.qv-object-SimpleAppReloadSave div.qv-object-content-container {
	overflow: auto;
}
.qv-object-SimpleAppReloadSave td,
.qv-object-SimpleAppReloadSave th {
	border-top: 0px solid #fff;
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	vertical-align: middle;
	cursor: default;
	font-size: 12px;
}
.qv-object-SimpleAppReloadSave td.numeric {
	text-align: right;
}
.qv-object-SimpleAppReloadSave button {
	width: 100%;
}

.qv-object-SimpleAppReloadSave .qv-object-nav >.icon-zoom-in{

	display: none;
  
  }