.qv-object-AppReloadSave div.qv-object-content-container {
	overflow: auto;
}

.qv-object-AppReloadSave button {
	width: 100%;
	min-width: 175px;
	white-space: nowrap;
}

.qv-object-AppReloadSave .qv-object-nav >.icon-zoom-in{
	display: none;
  }
